html{
  background-color: #7D8570;
  font-family: 'Open Sans', sans-serif;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: bolder;
  color: #f5ecd3;
  font-size: 3em;
}
p{
  color: #f5ecd3;
  font-size: 1em;
}
h3 {
  color: #f5ecd3;
}
.black{
  color: #766F56;
  font-size: inherent;
}
.navbar{
  font-family: 'Open Sans', sans-serif;
  background-color: #2A2C25;
  padding: 0;
  max-width: 100%;
  height: 1%;
  margin: 0;
  font-style: normal;
  text-decoration-style: none;
  text-decoration-line: none;
  font-size: 2em;
  color: #766F56;
  text-align: left;
}
div.contents{
  text-align: center;
  color: #646F58;
}
div.cover-image{
  background: url('/static/deer.jpg') no-repeat bottom left;
  background-size: cover;
  max-width: 100%;
  height: 630px;
  position: relative;
  bottom: 0;
  border-style: double;
  border-color: #646F58;
  margin-top: 1%;
}
.company-name{
  font-size: 2em;
  padding-top: 10px;
  color: #766F56;
  text-align: center;
}

ul{
  list-style-type: none;
  justify-content: center;
}
div.qbox{
  background-color: white;
  border-style: double;
  border-color: #646F58;
  justify-content: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
}
.qbox-t{
  font-weight: bolder;
  font-size: 30px;
  color: #000000;
}
.qbox-p{
  color: #000000;
}
div.furniture{
  background: url('/static/christmas_tree1.jpg') no-repeat bottom left;
  background-size: cover;
  object-fit: fill;
  position: static;
  width: 100%;
  height: 650px;
  padding: 0;
  margin: 0;
  border-style: double;
  border-color: #646F58;
}
div.decor{
  width: 100%;
  background-color: white;
  border-color: #646F58;
  border-style: double;
  padding: 0;
  margin: 0;
}
div.text-block{
  width:50%;
  color: black;
  background-color: white;
  border-color: #646F58;
  border-style: double;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;

  padding: 50px;
  padding-top: 10px;
}
.list-photos{
  display: inline-flex;
  vertical-align: top;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  bottom: 0;
}
.p1{
  background: url('/static/boards1.png') no-repeat center;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  object-fit: scale-down;
  position: static;
  border-style: double;
  border-color: #646F58;
}

.p2{
  background: url('/static/boards2.png') no-repeat center;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  object-fit: scale-down;
  position: static;
  border-style: double;
  border-color: #646F58;
}

.p3{
  background: url('/static/boards3.png') no-repeat center;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  object-fit: scale-down;
  position: static;
  border-style: double;
  border-color: #646F58;
}
form{
  font-family: 'Open Sans', sans-serif;
  border-style: double;
  border-color: #646F58;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  margin-top: 10%;

}
.about-photo{
  background: url('/static/dogs.png') no-repeat center;
  width: 50%;
  height: 300px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 150px;
  margin-bottom: 10%;
  border-style: double;
  border-color: #646F58;
}
a{
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}
