{% extends "base.html" %}
{% block content %}
<div class="decor">
  <div class="contents">
    <h1 class="black">About Us</h1>
      <p class="black">Here is where you write alot about how the company started. Why you decided to start it, maybe about family or personal life
      or your background in these skills or really anything. Lorem ipsum dolor sit amet, ne summo ocurreret sit, ei putent expetendis qui. Cum ne altera commodo voluptatibus. Id vis unum nulla interesset. An eum fugit electram necessitatibus, mandamus suavitate ad qui, cu quas aeque eos.
      </p>
      <p class="black">Eum in quando interesset, per at posse detracto. Pri detracto pertinax ex, magna necessitatibus vix at, vide omittam cu qui. Ne vix noster causae quaeque.Quis maiestatis an mei. Ut doctus vivendum phaedrum cum, nam et ullum fierent invidunt. Conceptam adolescens pro et, ad pri animal percipitur. Solet libris verear mei no.</p>
      <div class="about-photo">
      </div>
  </div>
</div>
{% endblock %}
