{% extends "base.html" %}
{% block content %}
<div class="cover-image">
  <div class="text-block">
    <h1 class='company-name'>Bandits Wild West</h1>
      <p class='black'>Vix no justo iisque rationibus, modus dissentiet cum in. Ponderum similique quo ex, solet scribentur ei pro. Augue iusto luptatum eos ad, porro elitr definitionem id vis. Mandamus temporibus pro et.</p>
  </div>
</div>
<div class="contents">
  <ul>
    <div class="qbox">
      <li class="qbox-t">Quality Craftsman Ship</li>
        <p class="qbox-p">We believe in beautiful aesthetics and elegant details complimented by functional quality.
          We make sure every detail is just the way you requested.</p>
    </div>
    <div class="qbox">
      <li class="qbox-t">Sustainablity</li>
        <p class="qbox-p">We use recycled woods and Materials that will last for years to come. Each product is hand cut, milled, sanded and planed to profection.</p>
    </div>
    <div class="qbox">
      <li class="qbox-t">Local and Family Owned</li>
        <p class="qbox-p">The Lammert family does what they love and love what they do. They will give every customer products of the highest quality and they will show you every step along the way to completion.</p>
    </div>
  </ul>
  <div class="furniture">
      <div class="text-block">
        <h1 class="black">Furniture</h1>
        <p class="black">Hand Cut, milled and sanded wood Furniture from logging remains. These furniture peices will last you and your family for generations. Locally and Sustainably made.Quis maiestatis an mei. Ut doctus vivendum phaedrum cum, nam et ullum fierent invidunt. Conceptam adolescens pro et, ad pri animal percipitur. Solet libris verear mei no. In his partem putent ullamcorper, et habeo option verterem sit, vix quis nobis virtute et.</p>
      </div>
  </div>
  <div class="decor">
    <div class="text-block">
      <h1 class="black">Decor</h1>
      <p class="black">Anything from Game boards, to wall decor and many more custom peices. Matt specializes in epoxy peices! Locally and Sustainably sourced.Vix no justo iisque rationibus, modus dissentiet cum in. Ponderum similique quo ex, solet scribentur ei pro. Augue iusto luptatum eos ad, porro elitr definitionem id vis. Mandamus temporibus pro et.
</p>
    </div>
      <ul class="list-photos">
        <li class="p1"></li>
        <li class="p2"></li>
        <li class="p3"></li>
      </ul>
  </div>
  <div class="text-block">
      <h1 class="black">Christmas Trees</h1>
        <p class="black">Many acres of christmas Trees give joy to the community, Here is some more text. I will need info for all these fields. </p>
  </div>
</div>
{% endblock %}
